<form nz-form nzGutter="16" class="w-full" nzLayout="vertical" [formGroup]="form">

    <span class="label_setup">Thiết lập hồ sơ nhân sự</span>
    <div style="background-color: #fff; border-radius: 5px;">

        <div class="p-4 pb-0" nz-row>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label style="color: red; " class="form-label label_form" >Tên nhân viên</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="name" placeholder="Nguyễn văn A" class="form-input" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Năm sinh</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" placeholder="Nhập" formControlName="yearOfBirth" class="form-input" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label" [nzSm]="12" [nzXs]="24" style="padding-left: none;">Giới tính</nz-form-label>
                    <nz-form-control>
                        <nz-select nzPlaceHolder="Nam" formControlName="gender">
                            <nz-option nzValue="1" nzLabel="Nam"></nz-option>
                            <nz-option nzValue="2" nzLabel="Nữ"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">CCCD/CMND: </nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" placeholder="Nhập" formControlName="identifierId" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">SĐT</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="phoneNumber" placeholder="Nhập" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Zalo</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="zalo" placeholder="Nhập" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Email</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="email" placeholder="Nhập" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="px-4" nz-row>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Dân tộc</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="ethnicGroup" placeholder="Nhập" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Tôn giáo</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="religion" placeholder="Nhập" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">
                        Trình độ chuyên môn
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="professionalLevel" placeholder="Nhập" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Tình trạng hôn nhân</nz-form-label>
                    <nz-form-control>
                        <nz-select nzPlaceHolder="Chưa kết hôn" formControlName="maritalStatus">
                            <nz-option nzValue="0" nzLabel="Chưa kết hôn"></nz-option>
                            <nz-option nzValue="1" nzLabel="Đã kết hôn"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Người liên hệ</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="contactPerson" placeholder="03256659" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">SĐT người liên hệ</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="contactPersonPhone" placeholder="03256659" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Quan hệ với nhân viên </nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="staffRelation" placeholder="03256659" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="px-4" nz-row>

            <div nz-col class="mx-2" style="width: calc(25% + 16px);">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Địa chỉ thường trú</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="permanentAddress" placeholder="03256659" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col class="mx-2"style="width: calc(25% + 16px);">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Tạm trú</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="temporaryAddress" placeholder="Nhập" />
                    </nz-form-control>
                </nz-form-item>
            </div>



        </div>
        <div style="border-bottom: 1px solid #dddddd;margin-left: 30px; margin-bottom: 15px;"></div>

        <div nz-row class="mx-4">
            <div nz-col class="mx-2" style="width: calc(25% + 16px);">
                <nz-form-label class="form-label label_form">Tình trạng làm việc</nz-form-label>
                <div nz-row nzSpan="5" style="border: 1px solid #d9d9d9; border-radius: 5px ;padding: 5px">
                    <div nz-col nzSpan="6">
                        <nz-form-item class="form-control">
                            <nz-form-control>
                                <nz-radio-group formControlName="contractType">
                                    <label nz-radio nzValue="1" style="margin-bottom: 30px !important;">Chính thức</label>
                                    <br>
                                    <label nz-radio nzValue="2" style="margin-top: 32px !important;">Thử việc</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="18">
                        <div nz-row style="width: calc(100% - 8px);">
                            <nz-form-item class="form-control">
                                <nz-form-label class="form-label">Từ ngày</nz-form-label>
                                <nz-form-control>
                                    <nz-date-picker (ngModelChange)="onDateChange($event)" class="w-full" formControlName="fromDate" nzPlaceHolder="Chọn ngày"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        
                        <div nz-row style="width: calc(100% - 8px);">
                            <div style="width: calc(50% - 8px); margin-right: 16px;"> 
                                <nz-form-item class="form-control">
                                    <nz-form-label class="form-label">Từ ngày</nz-form-label>
                                    <nz-form-control>
                                        <nz-date-picker class="w-full" (ngModelChange)="onDateChange($event)" formControlName="toDate" nzPlaceHolder="Chọn ngày"></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        
                            <div style="width: calc(50% - 8px);"> <!-- Chiều rộng = 50% -->
                                <nz-form-item class="form-control">
                                    <nz-form-label class="form-label">Đến ngày</nz-form-label>
                                    <nz-form-control>
                                        <nz-date-picker class="w-full" (ngModelChange)="onDateChange($event)" formControlName="contractDate" nzPlaceHolder="Chọn ngày"></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div nz-col class="mx-2" style="width: calc(25% + 18px);">
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <div style="width: calc(100% - 8px);">
                            <nz-form-item class="form-control">
                                <nz-form-label class="form-label">Trực thuộc quản lý</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzPlaceHolder="VTHK" formControlName="departmentId">
                                        <nz-option nzValue="1" nzLabel="VTHK"></nz-option>

                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <div class="mx-2" style="width: calc(100% - 8px);">
                            <nz-form-item class="form-control">
                                <nz-form-label class="form-label">Chi nhánh</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzPlaceHolder="VTHK" formControlName="branchId">
                                        <nz-option nzValue="1" nzLabel="VTHK"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <div style="width: calc(100% - 8px);">
                            <nz-form-item class="form-control">
                                <nz-form-label class="form-label">Bộ phận làm việc</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzPlaceHolder="Marketing" formControlName="officeId">
                                        <nz-option nzValue="1" nzLabel="Marketing"></nz-option>
                                        <nz-option nzValue="2" nzLabel="Lái xe"></nz-option>

                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <div class="mx-2" style="width: calc(100% - 8px);">
                            <nz-form-item class="form-control">
                                <nz-form-label class="form-label">Chức vụ</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzPlaceHolder="Lái xe tuyến" formControlName="positionId">
                                        <nz-option nzValue="1" nzLabel="Lái xe tuyến"></nz-option>
                                        <nz-option nzValue="2" nzLabel="Lái xe thời vụ"></nz-option>

                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col style="width: calc(37.5% + 28px);" class="mx-2">
                <nz-form-label class="form-label label_form">Hợp đồng lao động</nz-form-label>
                <div nz-row class="form-row" style="border: 1px solid #d9d9d9; border-radius: 5px ;padding: 5px; margin-bottom: 20px;">
                    <div class="form-col" nz-col>
                        <div class="mx-2">
                            <nz-form-item class="form-control">
                                <nz-form-label class="form-label">Ngày ký</nz-form-label>
                                <nz-form-control>
                                    <nz-date-picker (ngModelChange)="onDateChange($event)" formControlName="signDate" class="w-full" nzPlaceHolder="Chọn ngày"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="form-col" nz-col >
                        <div style="margin-left: 12px;">
                            <nz-form-item class="form-control">
                                <nz-form-label class="form-label">File hợp đồng Lao động</nz-form-label>
                                <nz-form-control>
                                    <div nz-row nzGutter="8" class="custom-upload" 
                                        style="border: 1px solid #d9d9d9; border-radius: 5px; padding: 5px;">
                                        <input nz-input placeholder="" readonly class="upload-input"
                                            style="border: none; outline: none; flex: 1;" formControlName="contractFile"
                                            [value]="fileCompressed.contractFile.length > 0 ? fileCompressed.contractFile[0].name : ''" />
                                            <button nz-button nzType="default" nzShape="circle" class="upload-button"
                                            (click)="fileInput.click()" style="border: none; background: transparent;">
                                                <i nz-icon nzType="paper-clip"></i>
                                                <input type="file" #fileInput (change)="onChange($event, 'contractFile')" style="display: none;" />
                                            </button>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-col class="form-col">
                        <div class="mx-2">
                            <nz-form-item class="form-control">
                                <nz-form-label class="form-label">Thời hạn</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzPlaceHolder="Hợp đồng 1 năm" formControlName="contractDuration">
                                        <nz-option nzValue="1" nzLabel="Hợp đồng 1 năm"></nz-option>
                                        <nz-option nzValue="2" nzLabel="Hợp đồng 2 năm"></nz-option>
                                        <nz-option nzValue="3" nzLabel="Hợp đồng vô thờ hạn"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-4 pb-0" nz-row *ngIf="isDriver">

            <div nz-col nzSpan="3" class="mx-2 ">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label" style="padding-left: none;">Định biên tuyến</nz-form-label>
                    <nz-form-control>
                        <nz-select nzPlaceHolder="Nam định" formControlName="routeId">
                            <nz-option nzValue="1" nzLabel="Nam định"></nz-option>
                            <nz-option nzValue="2" nzLabel="Hà Nam"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Số thẻ nghiệp vụ</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="businessCardNumber" placeholder="Nguyễn văn A" class="form-input" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label" >Ngày cấp </nz-form-label>
                    <nz-form-control>
                      <nz-date-picker class="w-full" (ngModelChange)="onDateChange($event)"  formControlName="bcStartDate" nzPlaceHolder="{{'Chọn ngày' | translate}}"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label" >Ngày hết hạn </nz-form-label>
                    <nz-form-control>
                      <nz-date-picker class="w-full" (ngModelChange)="onDateChange($event)" formControlName="bcEndDate" nzPlaceHolder="{{'Chọn ngày' | translate}}"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Hình ảnh thẻ nghiệp vụ</nz-form-label>
                    <nz-form-control>
                        
                        <div nz-row nzGutter="8" class="custom-upload"
                            style="border: 1px solid #d9d9d9; border-radius: 5px; padding: 5px;">
                            <input nz-input placeholder="" readonly class="upload-input"
                                style="border: none; outline: none; flex: 1;" formControlName="bcImage"
                                [value]="fileList.length > 0 ? fileList[0].name : ''" />
                            <button nz-button nzType="default" nzShape="circle" class="upload-button"
                            (click)="isShowModalUploadfile = true"  style="border: none; background: transparent;">
                                <i nz-icon nzType="paper-clip"></i>
                            </button>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Giấy khám sức khỏe</nz-form-label>
                    <nz-form-control>
                        
                        <div nz-row nzGutter="8" class="custom-upload"
                            style="border: 1px solid #d9d9d9; border-radius: 5px; padding: 5px;">
                            <input nz-input placeholder="" readonly class="upload-input"
                                style="border: none; outline: none; flex: 1;" formControlName="healthCertificate"
                                [value]="fileCompressed.healthCertificate.length > 0 ? fileCompressed.healthCertificate[0].name : ''" />
                                
                            <button nz-button nzType="default" nzShape="circle" class="upload-button"
                            (click)="fileInput.click()" style="border: none; background: transparent;">
                                <i nz-icon nzType="paper-clip"></i>
                                <input type="file" #fileInput (change)="onChange($event, 'healthCertificate')" style="display: none;" />
                            </button>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label" >Ngày hết hạn GKSK </nz-form-label>
                    <nz-form-control>
                      <nz-date-picker class="w-full" (ngModelChange)="onDateChange($event)" formControlName="hcEndDate" nzPlaceHolder="{{'Chọn ngày' | translate}}"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
            </div>
        </div>
        <div class="p-4 pb-0" nz-row *ngIf="isDriver">

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Số GPLX</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="driverLicenseNumber" placeholder="Nguyễn văn A" class="form-input" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label" style="padding-left: none;">Hạng GPLX</nz-form-label>
                    <nz-form-control>
                        <nz-select nzPlaceHolder="D" formControlName="driverLicenseType">
                            <nz-option nzValue="1" nzLabel="D"></nz-option>
                            <nz-option nzValue="2" nzLabel="E"></nz-option>
                            <nz-option nzValue="3" nzLabel="FB"></nz-option>
                            <nz-option nzValue="4" nzLabel="FD"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label" >Ngày cấp </nz-form-label>
                    <nz-form-control>
                      <nz-date-picker class="w-full" (ngModelChange)="onDateChange($event)" formControlName="dlStartDate" nzPlaceHolder="{{'Chọn ngày' | translate}}"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label" >Ngày hết hạn </nz-form-label>
                    <nz-form-control>
                      <nz-date-picker class="w-full" (ngModelChange)="onDateChange($event)" formControlName="dlEndDate" nzPlaceHolder="{{'Chọn ngày' | translate}}"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Hình ảnh GPLX</nz-form-label>
                    <nz-form-control>
                        
                        <div nz-row nzGutter="8" class="custom-upload"
                            style="border: 1px solid #d9d9d9; border-radius: 5px; padding: 5px;">
                            <input nz-input placeholder="" readonly class="upload-input"
                                style="border: none; outline: none; flex: 1;" formControlName="dlImage"
                                [value]="fileList.length > 0 ? fileList[0].name : ''" />
                            <button nz-button nzType="default" nzShape="circle" class="upload-button"
                            (click)="isShowModalUploadfile = true" style="border: none; background: transparent;">
                                <i nz-icon nzType="paper-clip"></i>
                            </button>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>

        
        </div>
        <div style="border-bottom: 1px solid #dddddd;margin-left: 30px; margin-bottom: 15px;margin-top: 20px;"></div>
        <div nz-row class="mx-4">
            <div nz-col style="width: calc(50% + 70px); margin-left: 8px;" >
                <nz-form-label class="form-label label_form">Hợp đồng lưu trữ</nz-form-label>
                <div nz-row formArrayName="lstArchivedRecords"  style="border: 1px solid #d9d9d9; border-radius: 5px ;padding: 5px; margin-bottom: 20px;width: calc(100% - 16px);">
                    <div nz-row style="display: flex; flex-wrap: nowrap;" *ngFor="let doc of lstArchivedRecords.controls; let docIndex = index" [formGroupName]="docIndex">
                        <div nz-col nzSpan="6">
                            <div class="mx-2">
                                <nz-form-item class="form-control">
                                    <nz-form-label class="form-label">Tên giấy tờ</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input class="form-input" formControlName="name"  placeholder="Nhập" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col nzSpan="5">
                            <div class="mx-2">
                                <nz-form-item class="form-control">
                                    <nz-form-label class="form-label">Số hiệu</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input class="form-input" formControlName="code"  placeholder="Nhập" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col nzSpan="6">
                            <div class="mx-2">
                                <nz-form-item class="form-control">
                                    <nz-form-label class="form-label">Loại giấy tờ</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input class="form-input" formControlName="type" placeholder="Nhập" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col nzSpan="5">
                            <div class="mx-2">
                                <nz-form-item class="form-control">
                                    <nz-form-label class="form-label">File đính kèm</nz-form-label>
                                    <nz-form-control>
                                        
                                        <div nz-row nzGutter="8" class="custom-upload"
                                            style="border: 1px solid #d9d9d9; border-radius: 5px; padding: 5px;">
                                            <input nz-input placeholder="" readonly class="upload-input"
                                                style="border: none; outline: none; flex: 1;" formControlName="file"
                                                [value]="fileCompressed.file[docIndex] ? fileCompressed.file[docIndex]?.name : ''" />
                                                <button nz-button nzType="default" nzShape="circle" class="upload-button"
                                                (click)="fileInput.click()" style="border: none; background: transparent;">
                                                    <i nz-icon nzType="paper-clip"></i>
                                                    <input type="file" #fileInput (change)="onFileChange($event,'file', docIndex)" style="display: none;" />
                                                </button>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col *ngIf="lstArchivedRecords.length > 1" style="display: flex; justify-content: center; align-items: center;" >
                            <button type="button"  nz-button (click)="removeArchivedRecord(docIndex)" [hidden]="docIndex==0" style=" border: none;">
                                <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 18.5C2.45 18.5 1.97917 18.3042 1.5875 17.9125C1.19583 17.5208 1 17.05 1 16.5V3.5H0V1.5H5V0.5H11V1.5H16V3.5H15V16.5C15 17.05 14.8042 17.5208 14.4125 17.9125C14.0208 18.3042 13.55 18.5 13 18.5H3ZM5 14.5H7V5.5H5V14.5ZM9 14.5H11V5.5H9V14.5Z" fill="#EF4444"/>
                                    </svg>
                                    
                              </button>
                        </div>
                    </div>
                    <div nz-row class="w-full" style="margin-bottom: 31px;">
                        <div nz-row  (click)="addArchivedRecords()">
                            <button  class="button_add mx-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                              </svg>
                              </button>
                        </div>
                    </div>
                    
                </div>
                
                
            </div>
            <div nz-col style="width: calc(37.5% + 28px);">
                <nz-form-label class="form-label label_form">Trạng thái con cái</nz-form-label>
                <div nz-row formArrayName="lstChildren" style="border: 1px solid #d9d9d9; border-radius: 5px ;padding: 5px; margin-bottom: 20px;">
                    <div nz-row class="w-full mx-2" style="height: 32px !important; line-height: 32px;">
                        <nz-form-item class="form-control">
                            <nz-form-control>
                                <nz-radio-group>
                                    <label nz-radio nzValue="fixed">Chưa có con</label>
                                    <label nz-radio nzValue="temporary">Đã có con</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="w-full">
                        <div nz-row style="display: flex; flex-wrap: nowrap;" *ngFor="let child of lstChildren.controls; let childIndex = index" [formGroupName]="childIndex">
                            <div nz-col nzSpan="10">
                                <div class="mx-2">
                                    <nz-form-item class="form-control">
                                        <nz-form-label class="form-label" >Tên con</nz-form-label>
                                        <nz-form-control>
                                            <input nz-input class="form-input" formControlName="name" placeholder="Nhập" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-col nzSpan="6">
                                <div class="mx-2">
                                    <nz-form-item class="form-control">
                                        <nz-form-label class="form-label">Năm sinh:</nz-form-label>
                                        <nz-form-control>
                                            <input nz-input class="form-input" formControlName="yearOfBirth" placeholder="Nhập" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-col nzSpan="6">
                                <div class="mx-2">
                                    <nz-form-item class="form-control">
                                        <nz-form-label class="form-label">Giới tính</nz-form-label>
                                        <nz-form-control>
                                            <nz-select nzPlaceHolder="Nam" formControlName="gender">
                                                <nz-option nzValue="1" nzLabel="Nam"></nz-option>
                                                <nz-option nzValue="2" nzLabel="Nữ"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-col *ngIf="lstChildren.length > 1" style="display: flex; justify-content: center; align-items: center; margin-left: 7px;"  >
                                <a (click)="removelstChildren(childIndex)" [hidden]="childIndex==0" style=" border: none;">
                                    <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 18.5C2.45 18.5 1.97917 18.3042 1.5875 17.9125C1.19583 17.5208 1 17.05 1 16.5V3.5H0V1.5H5V0.5H11V1.5H16V3.5H15V16.5C15 17.05 14.8042 17.5208 14.4125 17.9125C14.0208 18.3042 13.55 18.5 13 18.5H3ZM5 14.5H7V5.5H5V14.5ZM9 14.5H11V5.5H9V14.5Z" fill="#EF4444"/>
                                        </svg>
                                        
                                  </a>
                            </div>
                           
                        </div>
                    </div>
                    <div nz-row class="w-full">
                        <div>
                            <button (click)="addlstChildren()" class="button_add mx-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                              </svg>
                              </button>
                        </div>
                    </div>
                    
                </div>
                
                
            </div>

        </div>

        
    </div>




    <div class="flex justify-end m-2">
        <span>
            <button class="button" nz-button style="color: #274EA1;" nzType="default">Hủy</button>
        </span>
        <span class="ml-2">
            <button class="button" style="background-color: #274EA1; color: white;" nz-button nzType="default"
                (click)="showModalInforEmployee()">Lưu</button>
        </span>
    </div>
</form>


<!-- up file hình ảnh -->
<nz-modal [(nzVisible)]="isShowModalUploadfile" [nzTitle]="modalTitle" [nzContent]="modalContentUploadfile" [nzFooter]="null"
  (nzOnCancel)="isShowModalUploadfile = false">
  <ng-template #modalTitle>Tải ảnh lên</ng-template>

  <ng-template #modalContentUploadfile>
    <div class="upload-container flex justify-center items-center">
      <nz-upload
        class="avatar-uploader"
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        nzName="avatar"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        [nzBeforeUpload]="beforeUpload"
        (nzChange)="handleChangeFile($event)"
      >
        <div class="upload-area">
          <div class="upload-placeholder">
            <i nz-icon nzType="picture" nzTheme="outline" style="font-size: 36px;"></i>
          </div>
          <div class="upload-text">
            Kéo hình ảnh vào đây hoặc <a style="color: #1890ff;text-decoration: underline;">tải ảnh lên</a>
          </div>
        </div>
      </nz-upload>
    </div>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isModalInforEmployee" 
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleSubmit()"
    [nzContent]="modalContent" [nzFooter]="null"
    [nzStyle]="{'min-width' : '1024px', 'min-height':'1080px'}"
    >
    <ng-template #modalContent>
        <div class="headmodal">
            <span>Thông tin nhân sự</span>
        </div>
        <div nz-row>
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="21" class="mx-4">
                    <table class="custom-table">
                        <tbody>
                          <tr>
                            <td class="col-1">Tên nhân viên</td>
                            <td class="col-2">{{ inforEmployee.name || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Năm sinh</td>
                            <td class="col-2">{{ inforEmployee.yearOfBirth || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Giới tính</td>
                            <td class="col-2">{{ inforEmployee.gender || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Dân tộc</td>
                            <td class="col-2">{{ inforEmployee.ethnicGroup || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Tôn giáo</td>
                            <td class="col-2">{{ inforEmployee.religion || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Địa chỉ thường trú</td>
                            <td class="col-2">{{ inforEmployee.permanentAddress || '' }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="21" class="mx-4">
                    <table class="custom-table">
                        <tbody>
                          <tr>
                            <td class="col-1">Số điện thoại</td>
                            <td class="col-2">{{ inforEmployee.phoneNumber || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Zalo</td>
                            <td class="col-2">{{ inforEmployee.zalo || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Email</td>
                            <td class="col-2">{{ inforEmployee.email  || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">CCCD</td>
                            <td class="col-2">{{ inforEmployee.identifierId || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Id nhân viên</td>
                            <td class="col-2" style="color: #274ea1;">{{ 'LXT02356?' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Địa chỉ tạm trú</td>
                            <td class="col-2">{{ inforEmployee.temporaryAddress || '' }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 36px;">
        </div>
        <div nz-row>
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="21" class="mx-4">
                    <table class="custom-table">
                        <tbody>
                          <tr>
                            <td class="col-1">Trình độ chuyên môn</td>
                            <td class="col-2">{{ inforEmployee.professionalLevel || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Tình trạng hôn nhân</td>
                            <td class="col-2">{{ inforEmployee.maritalStatus || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Tình trạng con cái</td>
                            <td class="col-2">{{ '?' }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="21" class="mx-4">
                    <table class="custom-table">
                        <tbody>
                          <tr>
                            <td class="col-1">Người liên hệ</td>
                            <td class="col-2">{{ inforEmployee.contactPerson || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">SĐT người LH</td>
                            <td class="col-2">{{ inforEmployee.contactPersonPhone || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Quan hệ với NV</td>
                            <td class="col-2">{{ inforEmployee.staffRelation || '' }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 36px;">
        </div>
        <div nz-row>
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="21" class="mx-4">
                    <table class="custom-table">
                        <tbody>
                          <tr>
                            <td class="col-1">Trực thuộc quản lý</td>
                            <td class="col-2">{{ getNameInput(inforEmployee.departmentId, 'department') }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Chi nhánh</td>
                            <td class="col-2">{{ getNameInput(inforEmployee.branchId, 'branch') }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Bộ phận</td>
                            <td class="col-2">{{ getNameInput(inforEmployee.officeId, 'office') }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Chức vụ</td>
                            <td class="col-2">{{ getNameInput(inforEmployee.positionId, 'position') }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="21" class="mx-4">
                    <table class="custom-table">
                        <tbody>
                          <tr>
                            <td class="col-1">Tình trạng làm việc</td>
                            <td class="col-2">{{ inforEmployee.contractType }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Từ ngày</td>
                            <td class="col-2">{{ inforEmployee.fromDate}}</td>
                          </tr>
                          <tr *ngIf="isDriver">
                            <td class="col-1">Định biên tuyến</td>
                            <td class="col-2">{{ getNameInput(inforEmployee.positionId, 'position')}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 36px;">
        </div>
        <div nz-row *ngIf="isDriver">
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="21" class="mx-4">
                    <table class="custom-table">
                        <tbody>
                          <tr>
                            <td class="col-1">Số thẻ nghiệp vụ</td>
                            <td class="col-2">{{inforEmployee.businessCardNumber || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Ngày cấp</td>
                            <td class="col-2">{{ inforEmployee.bcStartDate || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Ngày hết hạn</td>
                            <td class="col-2">{{ inforEmployee.bcEndDate || '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Ngày hết hạn GKSK</td>
                            <td class="col-2">{{ inforEmployee.hcEndDate || '' }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="21" class="mx-4">
                    <table class="custom-table">
                        <tbody>
                          <tr>
                            <td class="col-1">Số GPLX</td>
                            <td class="col-2">{{ inforEmployee.driverLicenseNumber|| '' }}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Hạng</td>
                            <td class="col-2">{{ getNameInput(inforEmployee.driverLicenseType, 'driverLicense')}}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Ngày cấp</td>
                            <td class="col-2">{{inforEmployee.dlStartDate || ''}}</td>
                          </tr>
                          <tr>
                            <td class="col-1">Ngày hết hạn</td>
                            <td class="col-2">{{inforEmployee.dlEndDate || ''}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 36px;">
        </div>
        <div nz-row>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="23" class=" mx-4">
                    <span style="font-size: 14px; color: #6b7280;">Danh sách giấy tờ </span>
                    <table class="custom-table-list">
                        <tbody>
                          <tr style="background-color: #f4f7fb;">
                            <th style="text-align: center;" class="list-col-1">STT</th>
                            <th class="list-col-2">Tên giấy tờ</th>
                            <th style="text-align: center;" class="list-col-3">Số hiệu</th>
                            <th style="text-align: center;" class="list-col-4">Loại giấy tờ</th>
                          </tr>
                          <tr>
                            <td style="text-align: center;" class="list-col-1">{{'-'}}</td>
                            <td class="list-col-2">{{'-'}}</td>
                            <td style="text-align: center;" class="list-col-3">{{'-'}}</td>
                            <td style="text-align: center;" class="list-col-4">{{'-'}}</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 36px;">
        </div>
        <div nz-row>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="23" class="mx-4" >
                    <span style="font-size: 14px; color: #6b7280;">Danh sách con của nhân viên</span>
                    <table class="custom-table-list">
                        <tbody>
                          <tr style="background-color: #f4f7fb;">
                            <th style="text-align: center;" class="list-col-1">STT</th>
                            <th class="list-col-2">Tên con</th>
                            <th style="text-align: center;" class="list-col-3">Năm sinh</th>
                            <th style="text-align: center;" class="list-col-4">Giới tính</th>
                          </tr>
                          <tr>
                            <td style="text-align: center;" class="list-col-1">{{'1'}}</td>
                            <td class="list-col-2">{{'Phạm Tú Anh'}}</td>
                            <td style="text-align: center;" class="list-col-3">{{'2020'}}</td>
                            <td style="text-align: center;" class="list-col-4">{{'Nam'}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: center;" class="list-col-1">{{'2'}}</td>
                            <td class="list-col-2">{{'Phạm Tú Anh'}}</td>
                            <td style="text-align: center;" class="list-col-3">{{'2022'}}</td>
                            <td style="text-align: center;" class="list-col-4">{{'Nữ'}}</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 42px;">
        </div>
        <div nz-row style="display: flex; justify-content: center;">
            <div nz-rol>
                <span>
                    <button class="button-infor" nz-button style="color: #274EA1;" nzType="default" (click)="handleCancel()">Quay lại</button>
                </span>
            </div>
            <div nz-rol class="ml-2">
                <span>
                    <button class="button-infor" nz-button style="color: #274EA1;" nzType="default">
                        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.6667 3.33333H2.33333C1.22667 3.33333 0.333332 4.22667 0.333332 5.33333V8C0.333332 8.73333 0.933332 9.33333 1.66667 9.33333H3V10.6667C3 11.4 3.6 12 4.33333 12H9.66667C10.4 12 11 11.4 11 10.6667V9.33333H12.3333C13.0667 9.33333 13.6667 8.73333 13.6667 8V5.33333C13.6667 4.22667 12.7733 3.33333 11.6667 3.33333ZM9 10.6667H5C4.63333 10.6667 4.33333 10.3667 4.33333 10V7.33333H9.66667V10C9.66667 10.3667 9.36667 10.6667 9 10.6667ZM11.6667 6C11.3 6 11 5.7 11 5.33333C11 4.96667 11.3 4.66667 11.6667 4.66667C12.0333 4.66667 12.3333 4.96667 12.3333 5.33333C12.3333 5.7 12.0333 6 11.6667 6ZM10.3333 0H3.66667C3.3 0 3 0.3 3 0.666667V2C3 2.36667 3.3 2.66667 3.66667 2.66667H10.3333C10.7 2.66667 11 2.36667 11 2V0.666667C11 0.3 10.7 0 10.3333 0Z" fill="#274EA1"/>
                            </svg>
                            <span>In</span>
                    </button>
                </span>
            </div>
            <div nz-rol class="ml-2">
                <button class="button-infor" style="background-color: #274EA1; color: white;" nz-button nzType="default"
                        (click)="showModalInforEmployee()">Xác nhận</button>
            </div>
        </div>
    </ng-template>
  </nz-modal>

