<div class="px-3 pt-[24px]" style="background: #f3f3f3">
  <form action="" nz-form [formGroup]="form">
    <div class="w-full flex flex-col gap-[12px]">
      <span class="roboto-500" style="font-size: 16px">{{
        "operation.setup_fuel_price.title" | translate
      }}</span>
      <div
        class="flex flex-col gap-[20px] py-[12px] px-[16px]"
        style="
          border-radius: 12px;
          box-shadow: 0 4px 10px 3px #1a336a14;
          background: #fcfcfc;
        "
      >
        <!-- row 1 -->
        <div class="flex flex-wrap gap-[12px] justify-content-start">
          <div class="input-item">
            <nz-time-picker
              nzFormat="HH:mm:ss"
              class="w-full"
              style="width: 100%"
              nzPlaceHolder="Giờ ra thực tế"
              formControlName="applyTime"
            ></nz-time-picker>
          </div>
          <div class="input-item">
            <nz-date-picker
              nzFormat="dd/MM/yyyy"
              class="w-full"
              style="width: 100%"
              nzPlaceHolder="Ngày ra thực tế"
              formControlName="applyDate"
            ></nz-date-picker>
          </div>
        </div>

        <div class="mt-[16px] mb-[12px]">
          <span style="font-size: 16px" class="roboto-500">
            {{ "operation.setup_fuel_price.fuel_price_table" | translate }}
          </span>
        </div>

        <!-- table  -->
        <table class="custom-table-list">
          <thead>
            <tr>
              <th class="list-col-25 roboto-500" style="font-size: 14px">
                {{ "operation.setup_fuel_price.area" | translate }}
              </th>
              <th class="list-col-25 roboto-500" style="font-size: 14px">
                <div class="flex justify-content-end">
                  {{ "operation.setup_fuel_price.petrol_92" | translate }}
                </div>
              </th>
              <th class="list-col-25 roboto-500" style="font-size: 14px">
                <div class="flex justify-content-end">
                  {{ "operation.setup_fuel_price.petrol_95" | translate }}
                </div>
              </th>
              <th class="list-col-25 roboto-500" style="font-size: 14px">
                <div class="flex justify-content-end">
                  {{ "operation.setup_fuel_price.diesel_1" | translate }}
                </div>
              </th>
              <th class="list-col-25 roboto-500" style="font-size: 14px">
                <div class="flex justify-content-end">
                  {{ "operation.setup_fuel_price.diesel_5" | translate }}
                </div>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="fuelPrices">
            <tr
              *ngFor="let fuelPrice of fuelPrices.controls; let i = index"
              [formGroupName]="i"
            >
              <td style="font-size: 14px" class="roboto-500">
                {{ "operation.setup_fuel_price.area_" + region[i] | translate }}
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                  formControlName="ron92"
                />
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                  formControlName="ron95"
                />
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                  formControlName="diesel005"
                />
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                  formControlName="diesel0001"
                />
              </td>
            </tr>
            <!-- <tr>
              <td style="font-size: 14px" class="roboto-500">
                {{ "operation.setup_fuel_price.area_2" | translate }}
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                />
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                />
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                />
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                />
              </td>
            </tr>
            <tr>
              <td style="font-size: 14px" class="roboto-500">
                {{ "operation.setup_fuel_price.area_3" | translate }}
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                />
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                />
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                />
              </td>
              <td>
                <input
                  class="input-form"
                  (input)="validateText($event)"
                  placeholder="SĐT"
                  type="text"
                />
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- button  -->
    <div class="mt-[12px] flex justify-content-end gap-[12px]">
      <button type="button" class="btn btn-cancel" (click)="form.reset()">
        Hủy
      </button>
      <button type="button" class="btn btn-save" (click)="onSubmit()">
        Lưu
      </button>
    </div>

    <!-- table  -->
    <div class="mt-[12px] flex flex-col gap-[12px]">
      <div>
        <span class="roboto-500" style="font-size: 16px">{{
          "operation.vehicle-command.list_active_vehicle" | translate
        }}</span>
      </div>

      <div class="flex gap-[12px]" [formGroup]="searchForm">
        <!-- Tù ngày  -->
        <div class="input-item">
          <span class="required-star"
            >*<label class="label-form" for=""
              >{{ "operation.setup_fuel_price.from_date" | translate }}
            </label></span
          >
          <nz-date-picker
            nzFormat="dd/MM/yyyy"
            class="w-full"
            style="width: 100%"
            nzPlaceHolder="{{ 'Chọn ngày' | translate }}"
            formArrayName="startDate"
          ></nz-date-picker>
          <div
            *ngIf="
              (form.get('startDate')?.invalid &&
                form.get('startDate')?.dirty) ||
              form.get('startDate')?.touched
            "
            class="error-container"
          >
            <div>
              <span
                class="validate_input"
                *ngIf="form.get('startDate')?.errors?.['required']"
                >{{ "required.cannotBlank" | translate }}</span
              >
              <span
                class="instruct"
                *ngIf="form.get('startDate')?.errors?.['pattern']"
                >{{ "required.text_pattern" | translate }}</span
              >
            </div>
          </div>
        </div>

        <!-- Đêns ngày  -->
        <div class="input-item">
          <span class="required-star"
            >*<label class="label-form" for=""
              >{{ "operation.setup_fuel_price.to_date" | translate }}
            </label></span
          >
          <nz-date-picker
            nzFormat="dd/MM/yyyy"
            class="w-full"
            style="width: 100%"
            nzPlaceHolder="{{ 'Chọn ngày' | translate }}"
            formArrayName="endDate"
          ></nz-date-picker>
          <div
            *ngIf="
              (form.get('startDate')?.invalid &&
                form.get('startDate')?.dirty) ||
              form.get('startDate')?.touched
            "
            class="error-container"
          >
            <div>
              <span
                class="validate_input"
                *ngIf="form.get('startDate')?.errors?.['required']"
                >{{ "required.cannotBlank" | translate }}</span
              >
              <span
                class="instruct"
                *ngIf="form.get('startDate')?.errors?.['pattern']"
                >{{ "required.text_pattern" | translate }}</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-center gap-[12px]">
        <app-button
          (click)="searchForm.reset()"
          [icon]="'delete-filter'"
          [title]="'Xóa bộ lọc'"
        ></app-button>
        <button class="btn btn-save" (click)="search()">Tìm kiếm</button>
      </div>

      <table class="custom-table">
        <thead>
          <tr>
            <th rowspan="2">Ngày điều chỉnh</th>
            <th rowspan="2">Giờ điều chỉnh</th>
            <th rowspan="2">Vùng</th>
            <th colspan="4">Giá nhiên liệu</th>
            <th rowspan="2">Tác vụ</th>
          </tr>
          <tr>
            <th>Xăng A92</th>
            <th>Xăng A95</th>
            <th>Diesel 0,05</th>
            <th>Diesel 0,001</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listData; let index = index">
            <td rowspan="3">
              <div class="flex items-center">
                <span
                  nzEllipsis
                  style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                  class="cell-table"
                  nz-tooltip
                  [nzTooltipTitle]="data.applyDate"
                  >{{ data.applyDate }}</span
                >
              </div>
            </td>
            <td rowspan="3">
              <div class="flex items-center">
                <span
                  nzEllipsis
                  style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                  class="cell-table"
                  nz-tooltip
                  [nzTooltipTitle]="data.applyTime"
                  >{{ data.applyTime }}</span
                >
              </div>
            </td>
            <td>
              <div class="flex items-center">
                <span
                  nzEllipsis
                  style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                  class="cell-table"
                  nz-tooltip
                  [nzTooltipTitle]="data.applyTime"
                  >{{ data.applyTime }}</span
                >
              </div>
            </td>
            <td>
              <div class="flex items-center">
                <span
                  nzEllipsis
                  style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                  class="cell-table"
                  nz-tooltip
                  [nzTooltipTitle]="data.applyTime"
                  >{{ data.applyTime }}</span
                >
              </div>
            </td>
            <td>
              <div class="flex items-center">
                <span
                  nzEllipsis
                  style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                  class="cell-table"
                  nz-tooltip
                  [nzTooltipTitle]="data.applyTime"
                  >{{ data.applyTime }}</span
                >
              </div>
            </td>
            <td>
              <div class="flex items-center">
                <span
                  nzEllipsis
                  style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                  class="cell-table"
                  nz-tooltip
                  [nzTooltipTitle]="data.applyTime"
                  >{{ data.applyTime }}</span
                >
              </div>
            </td>
            <td>
              <div class="flex items-center">
                <span
                  nzEllipsis
                  style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                  class="cell-table"
                  nz-tooltip
                  [nzTooltipTitle]="data.applyTime"
                  >{{ data.applyTime }}</span
                >
              </div>
            </td>
            <td>
              <div class="flex items-center" (click)="viewDetail(data)">
                <span
                  nzEllipsis
                  style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                  class="cell-table"
                  nz-tooltip
                  [nzTooltipTitle]="data.applyTime"
                  >Sua</span
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="display: flex; justify-content: center; margin-top: 16px">
        <nz-pagination
          [(nzPageIndex)]="paginate.page"
          [nzTotal]="total"
          [nzPageSize]="paginate.size"
          (nzPageIndexChange)="onPageChange($event)"
          [nzShowSizeChanger]="false"
          class="custom-pagination"
        >
        </nz-pagination>
      </div>
    </div>
  </form>
</div>
