@import "../../../shared/styles/common.style.scss";

.btn-delete {
  height: 48px;
  width: 160px;
  border: 1px solid #ef4444;
  background-color: #fcfcfc;
  border-radius: 8px;
  color: #ef4444;
}

.btn {
  height: 48px;
  width: 160px;
  border: 1px solid #274ea1;
  background-color: #fcfcfc;
  border-radius: 8px;
  color: #274ea1;
}

.btn-delete,
.btn {
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: translateY(-2px);
  }
}
