
<div class="bg-white dark:bg-gray-900">
  <div class="flex justify-center h-screen">
      
      
      <div class="flex w-full mx-auto lg:w-2/6" style=" height: 100% !important;">
          <div class="flex-1">

            <div class="text-center"  style="padding-top: 34px;">
              <div class="login__hero flex flex-col justify-center items-center py-2">
                <img src="../../../assets/images/logo_app.png" />
                <h2 class="text-center mt-1"> </h2>
              </div>
            </div>
              <div class="mt-8 p-4">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
                  
                  
                  <div class="mt-4 form-group">
                    <span class="flex" style="font-weight: 500; font-size: 30px; color: #274EA1; justify-content: center; margin-bottom: 30px;">{{'common.login' | translate}}</span>
                    <input
                      class="form-control text-sm appearance-none input-login rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline"
                      type="text" formControlName="username"
                      placeholder="Tên đăng nhập"
                      />
                      <div class="error_container">
                        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.dirty || loginForm.get('username')?.touched">
                            <span class="validate_input" *ngIf="loginForm.get('username')?.errors?.['required']" >{{'required.username' | translate}}</span>
                        </div>
                      </div>
                  </div>
                  <div class="mt-4 form-group">
                    <div class="mt-4 form-group">
                      <div class="py-2">
                        <div class="relative">
                          <input
                            placeholder="Mật khẩu" formControlName="password"
                            [type]="showPassword ? 'text' : 'password'" style="height: 48px !important;"
                            class="text-md block border-gray-300 form-control text-sm appearance-none input-login rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline "
                          />
                          <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                           
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" (click)="togglePasswordVisibility()" [ngClass]="{ hidden: !showPassword, block: showPassword }">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                          
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" (click)="togglePasswordVisibility()" [ngClass]="{ block: !showPassword, hidden: showPassword }">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                            </svg>
                            
                          </div>
                        </div>
                        <div class="error_container">
                          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty || loginForm.get('password')?.touched">
                              <span class="validate_input" *ngIf="loginForm.get('password')?.errors?.['required']" >{{'required.password' | translate}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    
          
                  
                  </div>
                  <div class="flex w-full mt-4">
                    <button style="background-color: rgb(33 68 154); height: 48px;"  
                      class="w-full hover:bg-grey-900 text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline"
                      type="submit"
                    >
                      Đăng nhập
                    </button>
                  </div>
                </form>

              </div>
          </div>
      </div>

      <div class="hidden bg-cover lg:block lg:w-4/6" style="background-image: url(https://vnpay.vn/s1/statics.vnpay.vn/2023/11/0t27gfvvsbvo1700208917576.png)">

    </div>
  </div>
</div>