<div *nzModalTitle class="flex justify-center">
  <span style="font-size: 24px; color: #252c32" class="roboto-500">
    {{ modalData?.title }}
  </span>
</div>

<div class="flex flex-col justify-center gap-[48px]" [formGroup]="form">
  <div class="flex justify-center gap-[12px]">
    <div class="input-item">
      <span class="required-star"
        >*<label class="label-form" for=""
          >{{ "operation.setup_fuel_price.apply_time" | translate }}
        </label></span
      >
      <nz-time-picker
        nzFormat="HH:mm:ss"
        class="w-full"
        style="width: 100%"
        nzPlaceHolder="Giờ ra thực tế"
        formControlName="applyTime"
      ></nz-time-picker>
    </div>
    <div class="input-item">
      <span class="required-star"
        >*<label class="label-form" for=""
          >{{ "operation.setup_fuel_price.apply_date" | translate }}
        </label></span
      >
      <nz-date-picker
        nzFormat="dd/MM/yyyy"
        class="w-full"
        style="width: 100%"
        nzPlaceHolder="Ngày ra thực tế"
        formControlName="applyDate"
      ></nz-date-picker>
    </div>
  </div>

  <div class="flex flex-col gap-[12px]">
    <div class="flex justify-content-start item-center">
      <span class="roboto-500" style="font-size: 16px">{{
        "operation.setup_fuel_price.fuel_price_table" | translate
      }}</span>
    </div>
    <table class="custom-table-list">
      <thead>
        <tr>
          <th class="list-col-25 roboto-500" style="font-size: 14px">
            {{ "operation.setup_fuel_price.area" | translate }}
          </th>
          <th class="list-col-25 roboto-500" style="font-size: 14px">
            <div class="flex justify-content-end">
              {{ "operation.setup_fuel_price.petrol_92" | translate }}
            </div>
          </th>
          <th class="list-col-25 roboto-500" style="font-size: 14px">
            <div class="flex justify-content-end">
              {{ "operation.setup_fuel_price.petrol_95" | translate }}
            </div>
          </th>
          <th class="list-col-25 roboto-500" style="font-size: 14px">
            <div class="flex justify-content-end">
              {{ "operation.setup_fuel_price.diesel_1" | translate }}
            </div>
          </th>
          <th class="list-col-25 roboto-500" style="font-size: 14px">
            <div class="flex justify-content-end">
              {{ "operation.setup_fuel_price.diesel_5" | translate }}
            </div>
          </th>
        </tr>
      </thead>
      <tbody formArrayName="fuelPrices">
        <tr
          *ngFor="let fuelPrice of fuelPrices.controls; let i = index"
          [formGroupName]="i"
        >
          <td style="font-size: 14px" class="roboto-500">
            {{ "operation.setup_fuel_price.area_" + region[i] | translate }}
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
              formControlName="ron92"
            />
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
              formControlName="ron95"
            />
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
              formControlName="diesel005"
            />
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
              formControlName="diesel0001"
            />
          </td>
        </tr>
        <!-- <tr>
          <td style="font-size: 14px" class="roboto-500">
            {{ "operation.setup_fuel_price.area_2" | translate }}
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
            />
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
            />
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
            />
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
            />
          </td>
        </tr>
        <tr>
          <td style="font-size: 14px" class="roboto-500">
            {{ "operation.setup_fuel_price.area_3" | translate }}
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
            />
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
            />
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
            />
          </td>
          <td>
            <input
              class="input-form"
              (input)="validateText($event)"
              placeholder="SĐT"
              type="text"
            />
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <div class="flex justify-center gap-[12px]">
    <button class="btn btn-cancel" (click)="closeModal()">Hủy</button>
    <app-button
      [title]="'Xóa'"
      [icon]="'delete'"
      [isDelete]="true"
    ></app-button>
    <button
      class="flex justify-center items-center gap-[12px]"
      style="
        width: 160px;
        height: 48px;
        background: #fcfcfc;
        border: 1px solid #ef4444;
        color: #ef4444;
        border-radius: 8px;
      "
      (click)="onDelete()"
    >
      <svg
        width="21"
        height="21"
        viewBox="0 0 21 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.33337 18C5.87504 18 5.48268 17.8368 5.15629 17.5104C4.8299 17.184 4.66671 16.7917 4.66671 16.3333V5.5H3.83337V3.83333H8.00004V3H13V3.83333H17.1667V5.5H16.3334V16.3333C16.3334 16.7917 16.1702 17.184 15.8438 17.5104C15.5174 17.8368 15.125 18 14.6667 18H6.33337ZM8.00004 14.6667H9.66671V7.16667H8.00004V14.6667ZM11.3334 14.6667H13V7.16667H11.3334V14.6667Z"
          fill="#EF4444"
        />
      </svg>
      <span>Xóa</span>
    </button>
    <button class="btn btn-save" (click)="onEdit()">Lưu</button>
  </div>
</div>
