<div class="p-4" style="background-color: #f3f3f3;">
    <h3>Quản lý nhân sự</h3>
    <nz-tabset>
      <nz-tab nzTitle="Thiết lập hồ sơ nhân sự">
        <app-setup-profile-employee></app-setup-profile-employee>
      </nz-tab>
      <nz-tab nzTitle="Danh sách hồ sơ nhân sự"></nz-tab>
      <nz-tab nzTitle="DS nhân viên thử việc"></nz-tab>
      <nz-tab nzTitle="DS nhân viên vi phạm kỷ luật"></nz-tab>
      <nz-tab nzTitle="DS nhân viên nghỉ việc"></nz-tab>
      <nz-tab nzTitle="Thiết lập lương cơ sở & BHXH"></nz-tab>
    </nz-tabset>
  </div>