<div style="background-color: #f3f3f3;">
    
<form nz-form nzGutter="16" class="w-full mx-2" nzLayout="vertical" [formGroup]="form" style="background-color: #f3f3f3;">
    <div class="mx-4">

        <div class="" nz-row style="margin-bottom: 22px;">

            <div nz-col nzSpan="3" style="margin-right: 8px;">
                <div class="">
                    <label class="form-label">Thông tin nhân sự</label>
                    <input nz-input class="form-input" formControlName="txtSearch" placeholder="ID, Tên nhân sự, SĐT..." class="form-input" style="width: 100%; height: 48px;" />
                </div>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <div class="">
                    <label class="form-label">Trực thuộc quản lý</label>
                    <div class="w-full">
                        <nz-select nzPlaceHolder="Tất cả" formControlName="officeId" style="width: 100%;">
                            <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let office of listOffice" [nzValue]="office.id"
                                [nzLabel]="office.name"></nz-option>

                        </nz-select>
                    </div>
                </div>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <div class="">
                    <label class="form-label">Chi nhánh </label>
                    <div class="w-full">
                        <nz-select nzPlaceHolder="Tất cả" formControlName="branchId" style="width: 100%;">
                            <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let branch of listBranch, let i =index" [nzValue]="branch.id"
                                [nzLabel]="branch.name"></nz-option>

                        </nz-select>
                    </div>
                </div>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <div class="">
                    <label class="form-label">Lỗi vi phạm</label>
                    <div>
                        <nz-select nzPlaceHolder="Tất cả" formControlName="violentId" style="width: 100%;">
                            <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let data of listPunishmentsContent, let i =index" [nzValue]="data?.id"
                                [nzLabel]="data?.name"></nz-option>

                        </nz-select>
                    </div>
                </div>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <div class="">
                    <label class="form-label">Thời gian</label>
                    <div>
                        <nz-range-picker formControlName="rangeDate" style="width: 100%; height: 48px;">  </nz-range-picker>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="flex justify-center m-2" style="min-width: 335px;">
        <span>
            <button class="button" nz-button nzType="default" style="border-color: #274ea1; min-width: 160px;"
                (click)="resetForm()">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.66667 17.5V12.5H11.3333V14.1667H18V15.8333H11.3333V17.5H9.66667ZM3 15.8333V14.1667H8V15.8333H3ZM6.33333 12.5V10.8333H3V9.16667H6.33333V7.5H8V12.5H6.33333ZM9.66667 10.8333V9.16667H18V10.8333H9.66667ZM13 7.5V2.5H14.6667V4.16667H18V5.83333H14.6667V7.5H13ZM3 5.83333V4.16667H11.3333V5.83333H3Z"
                        fill="#274EA1" />
                </svg>

                <span style="color: #274ea1;">
                    Xóa bộ lọc
                </span>
            </button>
        </span>
        <span class="ml-2">
            <button class="button" (click)="search()" style="background-color: #274ea1; color:  #f7f7f7;" nz-button
                nzType="default">Tìm
                kiếm</button>
        </span>
    </div>
</form>

<div nz-row style="margin-top: 32px;" class="p-4">
    <div nz-col nzSpan="24">
        <table class="custom-table-list" style="background-color: #FCFCFC; text-align: center;">
            <tbody>
                <tr style="background-color: #fcfcfc;">
                    <th class="list-col-1">ID</th>
                    <th class="list-col-3" style="text-align: left !important; padding-left: 10px;">Tên nhân viên</th>
                    <th class="list-col-2">Năm sinh</th>
                    <th class="list-col-2">SĐT</th>
                    <th class="list-col-3">Trục thuộc quản lý</th>
                    <th class="list-col-3">Chi nhánh</th>

                    <th class="list-col-4">Lỗi vi phạm</th>
                    <th class="list-col-2">Ngày vi phạm</th>
                    <th class="list-col-3">Hình thức xử lý</th>
                    <th class="list-col-2">Tác vụ</th>

                </tr>
                <tr *ngFor="let data of showEmpolyeeNoData()">
                    <td class="list-col-1">{{data.code || '-'}}</td>
                    <td class="list-col-3" style="text-align: left !important; padding-left: 10px;">{{data.name || '-'}}</td>
                    <td class="list-col-2">{{data.yearOfBirth || '-'}}</td>
                    <td class="list-col-2">{{data.phoneNumber || '-'}}</td>
                    <td class="list-col-3">{{data.officeName || '-'}}</td>
                    <td class="list-col-3">{{data.branchName || '-'}}</td>
                    
                    <td class="list-col-4">{{data.punishmentForm || '-'}}</td>
                    <td class="list-col-2">{{(data.lastModifiedDate | date: 'dd/MM/yyyy') || '-'}}</td>
                    <td class="list-col-3">{{data.punishmentForm || '-'}}</td>

                    <td class="list-col-2">
                        <a *ngIf="data.id" class="button_show_detail" (click)="routerDetailEmployee(data.punishmentId)">
                            Xem chi tiết
                        </a>
                        <a *ngIf="!data.id">
                            -
                        </a>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>


<div style="display: flex; justify-content: center;">
    <nz-pagination
  [(nzPageIndex)]="pageIndex"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageChange($event)"
  class="custom-pagination">
</nz-pagination>
</div>




</div>