.custom-table th,
.custom-table td {
  border: 1px solid #d9d9d9;
  // padding: 8px;
  padding-left: 10px;
  height: 36px !important;
}

.custom-table-list th,
.custom-table-list td {
  border: 1px solid #d9d9d9;
  // padding: 8px;
  padding-left: 10px;
  height: 36px !important;
}

.list-col{
  width: calc(1/8) * 100%;
}

.custom-table .col-1{
  color: rgba(37, 44, 50, 1);
  size: 14px;
  line-height: 16.41px;
  font-weight: 500;
}