<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100vh;">
  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="email">
          <input type="text" nz-input formControlName="email" placeholder="email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="Password">Password</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
    Or
    <a>register now!</a>
  </form>
</div>