.ant-layout-footer {
    padding: 0 !important;
}
.ant-layout-header {
    padding: 0 !important;
    height: 100px !important;
    background-image: url("../../../assets/images/backgound_header.png");
}

.ant-layout {
    background: #D1D5DB;
    font-family: Roboto Condensed;
}