.ant-layout-footer {
    padding: 0 !important;
}
.ant-layout-header {
    padding: 0 !important;
    height: 100px !important;

}

.ant-layout {
    background: #D1D5DB;
    font-family: Roboto Condensed;
}