.form-control {
    border: none;
}

::ng-deep {
    nz-form-label.ant-form-item-label.form-label.ant-col {
        margin-bottom: -5px;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
    }

    nz-select-item.ant-select-selection-item.ng-star-inserted {
        font-weight: 600;
    }

    .form-input {
        height: 50px;
        border-radius: 5px;
    }

    .ant-picker {
        height: 50px;
        border-radius: 5px;
    }

    .button {
        padding: 25px 61px;
        display: flex;
        border-radius: 10px;
        align-items: center;
        font-size: 18px;
    }

    .custom-upload {
        display: flex;
        align-items: center;
    }

    .upload-input {
        flex: 1;
        padding: 8px;
        /* Adjust padding as needed */
    }

    .ng-tns-c2245839801-68.ant-upload-list-text-container.ng-star-inserted {
        display: none;
    }

    // .upload-area {
    //     border: 2px dashed #d9d9d9;
    //     border-radius: 5px;
    //     padding: 20px;
    //     text-align: center;
    // }

    // .upload-placeholder {
    //     width: 50px;
    //     /* Adjust size as needed */
    //     height: 50px;
    //     /* Adjust size as needed */
    // }

    // .upload-text {
    //     margin-top: 10px;
    //     color: #1890ff;
    //     /* Link color */
    // }

    // .upload-container {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    // .upload-area-custom {
    //     width: 350px;
    //     /* Width of the upload box */
    //     height: 250px;
    //     /* Height of the upload box */
    //     border: 1px dashed #d9d9d9;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     background-color: #f5f7fb;
    //     border-radius: 8px;
    //     text-align: center;
    // }

    // .upload-icon-custom {
    //     width: 50px;
    //     /* Adjust this size to match the image icon size in the center */
    //     height: 50px;
    //     margin-bottom: 12px;
    // }

    // .upload-text-custom {
    //     font-size: 14px;
    //     color: #595959;
    // }

    // .upload-text-custom a {
    //     color: #1890ff;
    //     /* Blue color for the 'tải ảnh lên' link */
    // }

    .ant-upload-picture-card-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .ant-upload.ant-upload-select-picture-card {
        width: 350px;
        height: 250px;
    }

}

:host ::ng-deep .avatar-uploader>.ant-upload {
    width: 128px;
    height: 128px;
}