
<form nz-form nzGutter="16" class="w-full" nzLayout="vertical" [formGroup]="form"  style="background-color: #f3f3f3;">
    <div>

        <div class="" nz-row>

            <div nz-col nzSpan="3" style="margin-right: 8px;">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Thông tin nhân sự</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="txtSearch" placeholder="ID, Tên nhân sự, SĐT..." class="form-input" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <!-- <div nz-col nzSpan="3" style="margin-right: 8px;">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">ID nhân sự</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="code" placeholder="Nhập" class="form-input" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Tên nhân sự</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="name" placeholder="Nhập" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">SĐT</nz-form-label>
                    <nz-form-control>
                        <input nz-input class="form-input" formControlName="phoneNumber" placeholder="Nhập" />
                    </nz-form-control>
                </nz-form-item>
            </div> -->

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Trực thuộc quản lý</nz-form-label>
                    <nz-form-control>
                        <nz-select nzPlaceHolder="Tất cả" formControlName="officeId">
                            <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let office of listOffice"  [nzValue]="office.id" [nzLabel]="office.name"></nz-option>

                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label" [nzSm]="12" [nzXs]="24">Chi nhánh </nz-form-label>
                    <nz-form-control>
                        <nz-select nzPlaceHolder="Tất cả" formControlName="branchId">
                            <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let branch of listBranch, let i =index" [nzValue]="branch.id" [nzLabel]="branch.name"></nz-option>

                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Bộ phận</nz-form-label>
                    <nz-form-control>
                        <nz-select nzPlaceHolder="Tất cả" formControlName="departmentId">
                            <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let department of listDepartment, let i =index" [nzValue]="department.id" [nzLabel]="department.name"></nz-option>
                            
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="3" class="mx-2">
                <nz-form-item class="form-control">
                    <nz-form-label class="form-label">Chức vụ</nz-form-label>
                    <nz-form-control>
                        <nz-select nzPlaceHolder="Tất cả" formControlName="positionId">
                            <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let position of listPosstion, let i =index" [nzValue]="position.id" [nzLabel]="position.name"></nz-option>

                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>

    <div class="flex justify-center m-2" style="min-width: 335px;">
        <span>
            <button class="button" nz-button nzType="default" style="border-color: #274ea1; min-width: 160px;" (click)="resetForm()">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.66667 17.5V12.5H11.3333V14.1667H18V15.8333H11.3333V17.5H9.66667ZM3 15.8333V14.1667H8V15.8333H3ZM6.33333 12.5V10.8333H3V9.16667H6.33333V7.5H8V12.5H6.33333ZM9.66667 10.8333V9.16667H18V10.8333H9.66667ZM13 7.5V2.5H14.6667V4.16667H18V5.83333H14.6667V7.5H13ZM3 5.83333V4.16667H11.3333V5.83333H3Z"
                        fill="#274EA1" />
                </svg>

                <span style="color: #274ea1;">
                    Xóa bộ lọc
                </span>
            </button>
        </span>
        <span class="ml-2">
            <button class="button" (click)="search()" style="background-color: #274ea1; color:  #f7f7f7;" nz-button nzType="default">Tìm
                kiếm</button>
        </span>
    </div>
</form>

<div nz-row style="margin-top: 32px;">
    <div nz-col nzSpan="24">
        <table class="custom-table-list" style="background-color: #FCFCFC;">
            <tbody>
                <tr style="background-color: #fcfcfc;">
                    <th class="list-col-1">ID</th>
                    <th class="list-col-3">Tên nhân viên</th>
                    <th class="list-col-1">Năm sinh</th>
                    <th class="list-col-2">SĐT</th>
                    <th class="list-col-2">Trục thuộc quản lý</th>
                    <th class="list-col-2">Chi nhánh</th>
                    <th class="list-col-2">Bộ phận</th>
                    <th class="list-col-2">Chức vụ</th>
                    <th class="list-col-2">Tác vụ</th>

                </tr>
                <tr *ngFor="let data of  showEmpolyeeNoData()">
                    <td class="list-col-1">{{data.code || '-'}}</td>
                    <td class="list-col-3">{{data.name || '-'}}</td>
                    <td class="list-col-1">{{data.yearOfBirth || '-'}}</td>
                    <td class="list-col-2">{{data.phoneNumber || '-'}}</td>
                    <td class="list-col-2">{{data.officeName || '-'}}</td>
                    <td class="list-col-2">{{data.branchName || '-'}}</td>
                    <td class="list-col-2">{{data.departmentName || '-'}}</td>
                    <td class="list-col-2">{{data.positionName || '-'}}</td>
                    <td class="list-col-2">
                        <a *ngIf="data.id" class="button_show_detail" (click)="routerDetailEmployee(data.id)">
                            Xem chi tiết
                        </a>
                        <span *ngIf="data.id">-</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


<div style="display: flex; justify-content: center; margin-top: 16px;">
    <nz-pagination
  [(nzPageIndex)]="pageIndex"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageChange($event)"
  class="custom-pagination">
</nz-pagination>
</div>


