.form-control {
    border: none;
    background-color: rgb(243 243 243);
}

::ng-deep {
    nz-form-label.ant-form-item-label.form-label.ant-col {
        margin-bottom: -5px;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
    }

    nz-select-item.ant-select-selection-item.ng-star-inserted {
        font-weight: 600;
    }

    .form-input {
        height: 48px;
        border-radius: 5px;
    }

    .ant-picker {
        height: 48px;
        border-radius: 5px;
    }

    .button {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;      
        border-radius: 10px;
        border-color: #274EA1;
        font-size: 18px;
        min-width: 160px;
        min-height: 48px !important;
        font-weight: 500;
    }

    .custom-upload {
        display: flex;
        align-items: center;
    }

    .upload-input {
        flex: 1;
        padding: 8px;
        /* Adjust padding as needed */
    }

    .ng-tns-c2245839801-68.ant-upload-list-text-container.ng-star-inserted {
        display: none;
    }

    .ant-upload-picture-card-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .ant-upload.ant-upload-select-picture-card {
        width: 350px;
        height: 250px;
    }

}

// .custom-table-list tr{
//   height: 36px !important;  
// }

:host ::ng-deep .avatar-uploader>.ant-upload {
    width: 128px;
    height: 128px;
}

.custom-table-list {
    width: 100%;
    // border-collapse: collapse;
    
  }

  .custom-table-list tbody th, .custom-table-list tbody td {
    border: 1px solid #d9d9d9;
    // padding: 8px;
    height: 36px;
    min-height: 36px !important;    
  }

  .custom-table-list .list-col-1 {
    width: 6.25% !important;
    text-align: center;
  }

  .custom-table-list .list-col-2 {
    width: 12.5% !important; 
    text-align: center;
  }

  .custom-table-list .list-col-3 {
    width: 12.5% !important; 
    text-align: left;
    padding-left: 10px;
  }

  ::ng-deep .custom-table-list tr:nth-child(2n+2){
    background-color:  #FCFCFC;
  }

  ::ng-deep .custom-table-list tr:nth-child(2n+1){
    background-color: #F4F7FB;
  }

  .button_show_detail{
    border: 1px solid #274ea1; 
    padding: 4px 10px 4px 10px; 
    border-radius: 21px; 
    color: #274EA1;
    white-space: nowrap;
  }
  
  ::ng-deep .custom-pagination .ant-pagination {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
  }
  
  ::ng-deep .custom-pagination .ant-pagination-item {
   border: none;
   background-color: transparent;
}

::ng-deep .custom-pagination .ant-pagination-item a{
   color: #274EA1 !important;
   font-weight: 500;
    
}
  
::ng-deep .custom-pagination  .ant-pagination-prev .ant-pagination-item-link, ::ng-deep .custom-pagination  .ant-pagination-next .ant-pagination-item-link {
  background-color: transparent;
  border: none;
}

::ng-deep .custom-pagination  .ant-pagination-prev .ant-pagination-item-link .anticon svg{
  // color: #274EA1;
}

::ng-deep .custom-pagination .ant-pagination-prev .ant-pagination-item-link.ant-pagination-item-link-disabled .anticon svg {
  color: #274EA1;
}

::ng-deep .custom-pagination .ant-pagination-item.ant-pagination-item-active a{
    background-color: #274EA1;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    color: white !important;
  }
  
  ::ng-deep .custom-pagination .ant-pagination-disabled {
    color: #bfbfbf; 
  }

  .disabled-input {
    // background-color: #f5f5f5; /* Màu nền xám để thể hiện trạng thái disabled */
    pointer-events: none; /* Ngăn không cho tương tác */
    opacity: 0.5; /* Giảm độ trong suốt */
  }

  .disabled-input:hover {
    cursor: not-allowed; /* Hiệu ứng con trỏ khi hover */
  }

  .headmodal{
    font-size: 24px; 
    height: 28px; 
    line-height: 28px; 
    margin: 25px 0 35px 0;
    display: flex; 
    justify-content: center;
     align-items: center;
    }
  
    .custom-table {
      width: 100%;
      border-collapse: collapse;
      
    }
  
    .custom-table th, .custom-table td {
      border: 1px solid #d9d9d9;
      // padding: 8px;
      height: 36px !important;    
    }

    .validate_input{
      color: red;
    }
  
    .button-infor{
      width: 160px;
      height: 48px;
      padding: 14px 10px 14px 10px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
}

.button_action{
  // display: flex;
  padding: 4px 8px 4px 8px;
  flex:  1 1;
  justify-content: center;
  align-items: center;
}