@import "./variable";

.roboto-500 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-600 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-700 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}
