<div class="p-4" style="background-color: #f3f3f3;">
  <h3>Thiết lập hồ sơ phương tiện</h3>
  <nz-tabset>
    <nz-tab nzTitle="Thiết lập hồ sơ phương tiện">
      <app-setup-profile-car></app-setup-profile-car>
    </nz-tab>
    <nz-tab nzTitle="Bảo dưỡng sửa chữa"></nz-tab>
    <nz-tab nzTitle="Vệ sinh nội thất chuyên sâu"></nz-tab>
    <nz-tab nzTitle="Quản lý hồ sơ phương tiện"></nz-tab>
    <nz-tab nzTitle="Quản lý km vận hành"></nz-tab>
    <nz-tab nzTitle="Quản lý nhiên liệu"></nz-tab>
  </nz-tabset>
</div>