/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../node_modules/ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "../node_modules/ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.form-control {
    border: none;
  }
  
  .label_setup {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: rgba(37, 44, 50, 1);
  }
  
  .validate_input {
    color: red;
    font-size: 13px;
  }
  
  .instruct{
    color: #fe8605;
    font-size: 13px;
  }

  .required-star{
    color: rgba(239, 68, 68, 1);
    font-weight: 500;
    font-size: 13px;
    line-height: 15.23px;
  }