/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../node_modules/ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "../node_modules/ng-zorro-antd/button/style/index.min.css"; /* Import one component's styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.form-control {
  border: none;
}

.label_setup {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: rgba(37, 44, 50, 1);
}

.validate_input {
  color: red;
  font-size: 13px;
}

.instruct {
  color: #fe8605;
  font-size: 13px;
}

.required-star {
  color: rgba(239, 68, 68, 1);
  font-weight: 500;
  font-size: 13px;
  line-height: 15.23px;
}

::ng-deep nz-date-picker {
  height: 48px !important;
}

::ng-deep .ant-select .ant-select-selector {
  background-color: #fafafa !important;
}

.form-control {
  border: none;
}

.label_setup {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: rgba(37, 44, 50, 1);
}

::ng-deep .label_form {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: left;
  color: rgba(107, 114, 128, 1) !important;
}

::ng-deep .ant-row .ant-col nz-form-item nz-form-label label {
  color: rgba(107, 114, 128, 1) !important;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: left;
}

::ng-deep .ant-row .ant-col nz-form-label label {
  color: rgba(107, 114, 128, 1) !important;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: left;
}

.custom-tooltip {
  white-space: nowrap; /* Hiển thị một dòng */
  background-color: black !important; /* Đặt màu nền đen */
  color: white !important; /* Đặt màu chữ trắng */
  padding: 2px; /* Căn chỉnh khoảng cách */
  border-radius: 4px; /* Làm tròn góc */
  font-size: 14px; /* Kích thước chữ */
}

::ng-deep
  .ant-row
  .ant-col
  .ant-form-item
  .ant-form-item-control
  .ant-form-item-control-input
  .ant-form-item-control-input-content
  .ant-radio-group
  .ant-radio-wrapper
  span {
  color: rgb(37, 50, 41);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;
}

::ng-deep {
  nz-form-label.ant-form-item-label.form-label.ant-col {
    margin-bottom: -5px;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
  }

  nz-select-item.ant-select-selection-item.ng-star-inserted {
    font-weight: 600;
  }

  .form-input {
    height: 48px;
    border-radius: 5px;
  }
}

.ant-select-selector .ant-select-selection-item {
  font-weight: normal !important;
}

.input-wrapper-disabled,
.input[disabled],
.ant-input[disabled] {
  // background-color: red !important;
}

.ant-input-affix-wrapper-disabled .ant-input[disabled] {
  background: transparent !important;
}

.ant-picker-input > input[disabled] {
  // color: #6e0c1b !important;
  font-weight: normal;
}

.disabled-input {
  pointer-events: none; /* Ngăn không cho tương tác */
  opacity: 0.5; /* Giảm độ trong suốt */
}

/* Nếu bạn muốn thêm hiệu ứng khi mờ */
.disabled-input:hover {
  cursor: not-allowed; /* Hiệu ứng con trỏ khi hover */
}

.button-infor {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: #274ea1;
  font-size: 18px;
  width: 160px;
  height: 48px !important;
  font-weight: 500;
}

.button-infor svg {
  margin-right: 8px; /* Thêm khoảng cách giữa icon và chữ */
}

.headmodalRest {
  font-size: 24px;
  height: 28px;
  line-height: 28px;
  margin: 60px 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_show_detail {
  border: 1px solid #274ea1;
  padding: 4px 10px 4px 10px;
  border-radius: 21px;
  color: #274ea1;
  white-space: nowrap;
}

.form-input::placeholder {
  text-transform: none;
}

.div-img-full {
  max-width: 100%;
  max-height: 100%;
}

.full-image {
  display: block;
  max-width: 100%;
  max-height: 100vh; /* Chiều cao tối đa bằng màn hình để không tràn */
  width: auto; /* Chiều rộng tự động theo kích thước thật */
  height: auto; /* Chiều cao tự động theo kích thước thật */
}

.upload-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.upload-container {
  border: 2px dashed rgba(107, 114, 128, 1); /* Đường viền dạng dashed */
  background-color: rgba(244, 247, 251, 1); /* Màu nền */
  border-radius: 8px;
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; /* Thêm hiệu ứng mượt khi thay đổi */
}

.upload-container.has-image {
  width: 400px;
  height: 400px;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-preview.has-image {
  width: 400px !important;
  height: 400px !important;
}

.label-form,
.form-lable {
  color: rgba(107, 114, 128, 1);
  font-weight: 500;
  font-size: 13px;
}

.custom-pagination .ant-pagination-item {
  border: none;
  background-color: transparent;
}

.custom-pagination .ant-pagination-item a {
  color: #274ea1 !important;
  font-weight: 500;
}

.custom-pagination .ant-pagination-prev .ant-pagination-item-link,
.custom-pagination .ant-pagination-next .ant-pagination-item-link {
  background-color: transparent;
  border: none;
}

.custom-pagination .ant-pagination-prev .ant-pagination-item-link .anticon svg {
  // color: #274EA1;
}

.custom-pagination
  .ant-pagination-prev
  .ant-pagination-item-link.ant-pagination-item-link-disabled
  .anticon
  svg {
  color: #274ea1;
}

.custom-pagination .ant-pagination-item.ant-pagination-item-active a {
  background-color: #274ea1;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  color: white !important;
}

.custom-pagination .ant-pagination-disabled {
  color: #bfbfbf;
}

input.ng-invalid.ng-touched {
  border-color: #ff4d4f !important;
}

nz-select.ng-invalid.ng-touched {
  border-color: #ff4d4f !important;
}

nz-time-picker.ng-invalid.ng-touched {
  border-color: #ff4d4f !important;
}
