/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../node_modules/ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "../node_modules/ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.form-control {
    border: none;
  }
  
  .label_setup {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: rgba(37, 44, 50, 1);
  }
  
  .validate_input {
    color: red;
    font-size: 13px;
  }
  
  .instruct{
    color: #fe8605;
    font-size: 13px;
  }

  .required-star{
    color: rgba(239, 68, 68, 1);
    font-weight: 500;
    font-size: 13px;
    line-height: 15.23px;
  }

::ng-deep nz-date-picker{
  height: 48px !important;
}

::ng-deep .ant-select .ant-select-selector{
  background-color: #fafafa !important;
}

.form-control {
  border: none;
}

.label_setup {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: rgba(37, 44, 50, 1);
}

::ng-deep .label_form {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: left;
  color: rgba(107, 114, 128, 1) !important;

}

::ng-deep .ant-row .ant-col nz-form-item nz-form-label label {
  color: rgba(107, 114, 128, 1) !important;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: left;
}

::ng-deep .ant-row .ant-col nz-form-label label {
  color: rgba(107, 114, 128, 1) !important;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: left;
}

.custom-tooltip {
  white-space: nowrap; /* Hiển thị một dòng */
  background-color: black !important; /* Đặt màu nền đen */
  color: white !important; /* Đặt màu chữ trắng */
  padding: 2px; /* Căn chỉnh khoảng cách */
  border-radius: 4px; /* Làm tròn góc */
  font-size: 14px; /* Kích thước chữ */
}



::ng-deep .ant-row .ant-col .ant-form-item .ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content .ant-radio-group .ant-radio-wrapper span {
  color: rgb(37, 50, 41);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;

}



::ng-deep {
  nz-form-label.ant-form-item-label.form-label.ant-col {
    margin-bottom: -5px;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
  }

  nz-select-item.ant-select-selection-item.ng-star-inserted {
    font-weight: 600;
  }

  .form-input {
    height: 48px;
    border-radius: 5px;
  }
}

 .ant-select-selector .ant-select-selection-item{
  font-weight: normal !important;
}

.input-wrapper-disabled,
.input[disabled],
.ant-input[disabled] {
  // background-color: red !important;
}

.ant-input-affix-wrapper-disabled .ant-input[disabled] {
  background: transparent !important;
}

.ant-picker-input > input[disabled] {
  // color: #6e0c1b !important;
  font-weight: normal;
}

.disabled-input {
  pointer-events: none; /* Ngăn không cho tương tác */
  opacity: 0.5; /* Giảm độ trong suốt */
}

/* Nếu bạn muốn thêm hiệu ứng khi mờ */
.disabled-input:hover {
  cursor: not-allowed; /* Hiệu ứng con trỏ khi hover */
}

