<div class="tabs p-4 pt-3" style="background-color: #f3f3f3;">
    <a 
      class="tab-link" 
      [class.active]="currentTab === 'setupDCL'"
      (click)="changeTab('setupDCL')"
    >
      {{'vehicle.setupDCL' | translate}}
    </a>
    <a 
      class="tab-link" 
      [class.active]="currentTab === 'listDCL'"
      (click)="changeTab('listDCL')"
    >
      {{'vehicle.listDCL' | translate}}
    </a>
    <a 
      class="tab-link" 
      [class.active]="currentTab === 'reportDCL'"
      (click)="changeTab('reportDCL')"
    >
      {{'vehicle.reportDCL' | translate}}
    </a>
    
  </div>
  
  <!-- Hiển thị component con dựa trên giá trị của `currentTab` -->
  <div class="tab-content" style="margin-top: 0px !important; background-color: #f3f3f3;">
    <app-setup-deep-cleaning  *ngIf="currentTab === 'setupDCL'"></app-setup-deep-cleaning>
    <app-list-deep-cleaning (dataEmmitter)="changeTab('listDCL')" *ngIf="currentTab === 'listDCL'"></app-list-deep-cleaning>
    <app-report-deep-cleaning *ngIf="currentTab === 'reportDCL'" [data]="data"></app-report-deep-cleaning>
  </div>
  